body {
    font-family: Arial, sans-serif;
    background-color:#dbd0c1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.rating-container {
    text-align: center;
    background-color:#cc9692 ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emoji-rating {
    margin: 20px 0;
}

.emoji {
    font-size: 40px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.2s;
}

.emoji:hover {
    transform: scale(1.2);
}

.emoji.selected {
    color: #ffcc00;
    transform: scale(1.3);
}

.result {
    font-size: 18px;
}
h1 {
  color:#4e3e30;
}
p {
  color:#4e3e30;
}